# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode/

# Multimedia and binaries
main
*.png
*.jpg
*.gif
*.bmp
*.mp4
*.mp3
*.m4a
*.ogg
*.3gp
*.midi
*.wav
*.ext
*.webv
*.tiff
*.ico
*.avi
*.2gp
*.pdf
*.zip
*.tar
*.rar
*.gz
*.xz